<mat-card>
  <mat-card-title>
    Login for Thomas(If you're not Thomas sorry)
  </mat-card-title>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form #LoginForm='ngForm' *ngIf='!isLoading' (submit)="onLogin(LoginForm)">
    <mat-form-field>
      <input
        #emailInput='ngModel'
        name='email'
        ngModel
        matInput
        type='email'
        placeholder='E-mail'
        required
        email
      >
      <mat-error *ngIf='emailInput.invalid'> Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      name='password'
      ngModel
      #passwordInput='ngModel'
      matInput
      placeholder="Password"
      type='password'
      required
      >
      <mat-error *ngIf='passwordInput.invalid'> Please enter a password </mat-error>
    </mat-form-field>
    <button mat-raised-button type='submit'> Login </button>
  </form>
</mat-card>
