mat-card {
  width: 50%;
  align-self: center;
  margin: auto
}

a {
  text-decoration: none;
  color: rgb(46, 11, 46)
}
img {
  max-width: 70%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.outer-div {
  padding: 5%;
  padding-top: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.inner-div {
  border-radius: 5px;
  display: inline-block;
  padding: 10%;
  width: 80%;
  box-shadow: 0 8px 6px -6px black;
}

.header-div {
  float: left;
  text-align: left;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.header-div img {
  width: 45%;
  min-width: 100px;
  float: center;
  margin: 0px;
  padding: 0px;
}

.tagline-div {
  font-size: 15px;
}

.body-div h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.body-div {
  float: right;
  text-align: left;
  width: 50%;
  margin-left: 0px
}

.languages-div {
  background-color: rgb(96, 87, 221);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  width: 70%;
  margin: 10px;
}

.learn-div {
  background-color: rgb(156, 58, 96);
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding:10px;
  text-align: center;
  width: 70%;
  margin: 10px;
}

.github-link {
  background-color: rgb(156, 58, 96);
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding:10px;
  text-align: center;
  width: 70%;
  margin: 10px;
}

.languages-outer-div {
  background-color: white;
  margin-bottom: 13px;
  display: flex;
  padding: 0px;
}

.options-div {
  background-color: white;
  margin: 10px;
  display: flex;
  padding: 10px;
}
