<mat-card *ngIf='webProjects.length == 0'>
  <mat-card-title>
    Still Under construction!
  </mat-card-title>
  <mat-card-header>
    <a href='https://github.com/tjb295/PortfolioSite'>
      Feel free to check out the progress on GitHub!
    </a>
  </mat-card-header>
  <img mat-card-image src="https://png.icons8.com/metro/1600/under-construction.png" alt="Coming Soon!">
</mat-card>
<div class='outer-div' *ngIf='webProjects.length > 0'>
  <div class='inner-div' *ngFor='let project of webProjects'>
    <div class='header-div'>
        <h1>{{project.title}}</h1>
        <img src='assets/scrn1.png' alt='Title Picture' >
    </div>
    <div class='body-div'>
        <p class='tagline-div'>{{project.tagline}}</p>
        <p class='languages-div' >{{project.languages}}</p>
        <a [routerLink]="['/projects', project._id]">Learn More</a>
        <a href='{{project.github}}'><p class='github-link' >See Code</p></a>
    </div>
    <div *ngIf='userIsAuthenticated'>
      <button mat-button color='warn' (click)='onDelete(project._id)'>Delete</button>
    </div>
  </div>
</div>
