mat-card {
  width: 50%;
  align-self: center;
  margin: auto
}

a {
  text-decoration: none;
  color: rgb(46, 11, 46)
}
img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.outer-div {
  padding: 10%;
  padding-top: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.inner-div {
  border-radius: 5px;
  display: inline-block;
  padding: 10%;
  width: 90%;
  box-shadow: 0 8px 6px -6px black;
}

.header-div {
  float: left;
  text-align: left;
  margin: 0px;
  padding: 0px;
  width: 50%
}

.header-div img {
  width: 60%;
  float: left;
  margin: 0px;
  padding: 0px;
}

.tagline-div {
  font-size: 22px;
}

.body-div {
  float: right;
  text-align: left;
  width: 50%;
  margin-left: 0px
}

.languages-div {
  background-color: rgb(96, 87, 221);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding:0;
  text-align: center
}

.github-link {
  background-color: rgb(54, 6, 54);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding:0;
  text-align: center;
  width: auto
}
