<mat-tab-group mat-stretch-tabs >
  <mat-tab label='Projects'>
    <app-projects></app-projects>
  </mat-tab>
  <mat-tab label='About Me'>
    <mat-card>

        <div>
          <img  alt='Graduation from NAU MAy 2018' src='assets/graduation.jpg'>
        </div>
        <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>

    </mat-card>
  </mat-tab>
  <mat-tab label='Contact'> </mat-tab>
</mat-tab-group>
