ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black
}

.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex
}

mat-form-field {
  width: 100%
}

textarea {
  width: 100%
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%
}

div {
  margin: auto
}

mat-card {
  width: 80%;
  margin: auto
}
mat-grid-tile {
  overflow: scroll
}
