a {
  margin-top: 20px
}

img {
  max-width: 20%;
  margin-top: 10px;
  margin: 60px;


}

img:hover {
  opacity: 0.5
}

.icons-container {
  margin: auto;
  width: 50%;
  align-items: center;
  align-self: center;
}
