a {
  margin-top: 20px;
  margin-left: 0
}

img {
  max-width: 20%;
  max-height:100%;
  margin-top: 10px;
  min-width: 50px;
}

a:hover {
  opacity: 0.5;
  text-decoration: none
}

a p {
  color: black;
  font-size: 100%
}

p {
  margin: 0;
  text-align: center
}

.icons-container {
  margin: auto;
  width: 50%;
  align-items: center;
  align-self: center;
  text-align: center;
  display: flex;
}
